<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.WeatherinfoMapper">

    <resultMap type="Weatherinfo" id="WeatherinfoResult">
        <result property="id" column="ID"/>
        <result property="province" column="province"/>
        <result property="city" column="city"/>
        <result property="adcode" column="adcode"/>
        <result property="weather" column="weather"/>
        <result property="temperature" column="temperature"/>
        <result property="winddirection" column="winddirection"/>
        <result property="windpower" column="windpower"/>
        <result property="humidity" column="humidity"/>
        <result property="reporttime" column="reporttime"/>
        <result property="createTime" column="createTime"/>
    </resultMap>

    <sql id="selectWeatherinfoVo">
        select ID, province, city, adcode, weather, temperature, winddirection, windpower, humidity, reporttime, createTime from weatherinfo
    </sql>

    <select id="selectWeatherinfoList" parameterType="Weatherinfo" resultMap="WeatherinfoResult">
        <include refid="selectWeatherinfoVo"/>
        <where>
            <if test="province != null  and province != ''">and province = #{province}</if>
            <if test="city != null  and city != ''">and city = #{city}</if>
            <if test="adcode != null  and adcode != ''">and adcode = #{adcode}</if>
            <if test="weather != null  and weather != ''">and weather = #{weather}</if>
            <if test="temperature != null  and temperature != ''">and temperature = #{temperature}</if>
            <if test="winddirection != null  and winddirection != ''">and winddirection = #{winddirection}</if>
            <if test="windpower != null  and windpower != ''">and windpower = #{windpower}</if>
            <if test="humidity != null  and humidity != ''">and humidity = #{humidity}</if>
            <if test="reporttime != null ">and reporttime = #{reporttime}</if>
            <if test="createTime != null ">and createTime = #{createtime}</if>
        </where>
    </select>

    <select id="selectWeatherinfoOne" resultType="long">
        select max(ID) from weatherinfo
    </select>

    <select id="selectByDate" parameterType="java.util.Date" resultMap="WeatherinfoResult">
          select ID, province, city, adcode, weather, temperature, winddirection, windpower, humidity, reporttime, createTime from weatherinfo
          where createTime=#{createTime}
    </select>

    <select id="selectWeatherinfoById" parameterType="Long" resultMap="WeatherinfoResult">
        <include refid="selectWeatherinfoVo"/>
        where ID = #{id}
    </select>

    <insert id="insertWeatherinfo" parameterType="Weatherinfo" useGeneratedKeys="true" keyProperty="id">
        insert into weatherinfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="province != null  and province != ''">province,</if>
            <if test="city != null  and city != ''">city,</if>
            <if test="adcode != null  and adcode != ''">adcode,</if>
            <if test="weather != null  and weather != ''">weather,</if>
            <if test="temperature != null  and temperature != ''">temperature,</if>
            <if test="winddirection != null  and winddirection != ''">winddirection,</if>
            <if test="windpower != null  and windpower != ''">windpower,</if>
            <if test="humidity != null  and humidity != ''">humidity,</if>
            <if test="reporttime != null ">reporttime,</if>
            <if test="createTime != null ">createTime,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="province != null  and province != ''">#{province},</if>
            <if test="city != null  and city != ''">#{city},</if>
            <if test="adcode != null  and adcode != ''">#{adcode},</if>
            <if test="weather != null  and weather != ''">#{weather},</if>
            <if test="temperature != null  and temperature != ''">#{temperature},</if>
            <if test="winddirection != null  and winddirection != ''">#{winddirection},</if>
            <if test="windpower != null  and windpower != ''">#{windpower},</if>
            <if test="humidity != null  and humidity != ''">#{humidity},</if>
            <if test="reporttime != null ">#{reporttime},</if>
            <if test="createTime != null ">#{createTime},</if>
        </trim>
    </insert>

    <update id="updateWeatherinfo" parameterType="Weatherinfo">
        update weatherinfo
        <trim prefix="SET" suffixOverrides=",">
            <if test="province != null  and province != ''">province = #{province},</if>
            <if test="city != null  and city != ''">city = #{city},</if>
            <if test="adcode != null  and adcode != ''">adcode = #{adcode},</if>
            <if test="weather != null  and weather != ''">weather = #{weather},</if>
            <if test="temperature != null  and temperature != ''">temperature = #{temperature},</if>
            <if test="winddirection != null  and winddirection != ''">winddirection = #{winddirection},</if>
            <if test="windpower != null  and windpower != ''">windpower = #{windpower},</if>
            <if test="humidity != null  and humidity != ''">humidity = #{humidity},</if>
            <if test="reporttime != null ">reporttime = #{reporttime},</if>
            <if test="createTime != null ">createTime = #{createTime},</if>
        </trim>
        where ID = #{id}
    </update>

    <delete id="deleteWeatherinfoById" parameterType="Long">
        delete from weatherinfo where ID = #{id}
    </delete>

    <delete id="deleteWeatherinfoByIds" parameterType="String">
        delete from weatherinfo where ID in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>